@font-face {
    font-family: radikal;
    src: url(../font/radikal.woff);
}

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: radikal;
}

.intro h1 {
    margin: 0 auto;
}

.brand-logo img {
    width: 70px;
    padding-top: 5px; 
}

.header {
    background-color: rgba(34, 49, 52, 0); 
    box-shadow: none; 
}

.waves-effect {
    /* color: rgb(8, 54, 63); */
    transition: all 0.5s;
}

.waves-effect:hover {
    font-size: larger;
}

.intro {
    color: white;
    text-align: center;
}

.intro img {
    width: 500px;
}

#home-page {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;    
    width: 850px;
    margin-top: 20px;
}

#home-page-table {
    margin: 0 auto;
    width: 800px;
}

#home-page-table th, td {
    text-align: center;
}

#saved {
    margin-top: 20px;
}

#saved .card {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

#card-detail {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

#card-detail li {
    background-color: rgba(255, 255, 255, 0.3);
}
